<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,49}</string>
                <key>spriteSourceSize</key>
                <string>{37,49}</string>
                <key>textureRect</key>
                <string>{{1,1},{37,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,49}</string>
                <key>spriteSourceSize</key>
                <string>{37,49}</string>
                <key>textureRect</key>
                <string>{{40,1},{37,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,49}</string>
                <key>spriteSourceSize</key>
                <string>{37,49}</string>
                <key>textureRect</key>
                <string>{{79,1},{37,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player1_up.png</string>
            <key>size</key>
            <string>{117,51}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9074b057063b67b8341408653296b1be:a761b8dc24f8e7c8bbc52a53d8006336:6f8769917d90eb2b646c1fdfa1dc88c2$</string>
            <key>textureFileName</key>
            <string>player1_up.png</string>
        </dict>
    </dict>
</plist>
