<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player1_down_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,44}</string>
                <key>spriteSourceSize</key>
                <string>{37,44}</string>
                <key>textureRect</key>
                <string>{{40,1},{37,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1_down_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,45}</string>
                <key>spriteSourceSize</key>
                <string>{37,45}</string>
                <key>textureRect</key>
                <string>{{1,1},{37,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1_down_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,44}</string>
                <key>spriteSourceSize</key>
                <string>{37,44}</string>
                <key>textureRect</key>
                <string>{{79,1},{37,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player1_down.png</string>
            <key>size</key>
            <string>{117,47}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cafb9b90953dcc750cc6322232aaa05:4d95d17b0dfca79d67625ff6fc5f4e96:4d2546e3eba65080350b6c2cf8f2689f$</string>
            <key>textureFileName</key>
            <string>player1_down.png</string>
        </dict>
    </dict>
</plist>
